.app-header {
  color: white;
  margin-bottom: 50px;
  height: 90px;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  font-family: livic-semi-bold;
  justify-content: center;
  background: #252525;

  span {
    color: greenyellow;
  }
}
