@font-face {
  font-family: livic-bold;
  src: url('../../fonts/Livvic/Livvic-Bold.ttf');
}
@font-face {
  font-family: livic-semi-bold;
  src: url('../../fonts/Livvic/Livvic-SemiBold.ttf');
}
@font-face {
  font-family: livic-medium-italic;
  src: url('../../fonts/Livvic/Livvic-MediumItalic.ttf');
}
